<!DOCTYPE html>
<html lang="ja" ng-app>
<head>
    <meta charset="utf-8">
    <title>Angular.jsの練習</title>
    <script src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
    <script src="myscript.js"></script>
</head>
<body>
    <h1>Angular.jsの練習</h1>
    <div ng-controller="mainController">
    <form novalidate name="myForm" ng-submit="addUser()">
    <p>18+:
        <input type="checkbox" ng-model="user.adult" 
            ng-true-value="adult" ng-false-value="child">
    </p>
    <p>Phone:
        <input type="radio" ng-model="user.phone" value="iPhone">iphone
        <input type="radio" ng-model="user.phone" value="Android">Android
    </p>
    <p>Memo:
        <textarea ng-model="user.memo" ng-maxlength="140">
        </textarea>{{140-user.memo.length}}
    </p>
    <p><input type="submit" value="add"></p>
    <pre>{{user|json}}</pre>
    </form>
    </div>
</body>
</html>