<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Backbone.js</title>
    <style>
        .completed {
            text-decoration: line-through;
            color: gray;
        }
    </style>
</head>
<body>
    <h1>ToDo list</h1>
    <p>Finished Task: <span id="count"></span> / <span id="total"></span></p>
    <div id="deleteDone">
        <button id="deleteFinished">Delete Finished</button>
    </div>
    
    <div id="tasks">
    </div>

    <script type="text/template" id="task-template">
        <input type="checkbox" class="toggle" <%= completed ? 'checked': '' %>>
        <span class="<%= completed ? 'completed' : '' %>">
            <%- title %>
        </span>
        <span class="delete">[x]</span>
    </script>
    
    <form id="addTask">
        <input type="text" id="title">
        <input type="submit" value="add">
        <span id="error"></span>
    </form>
    
    <script src="js/underscore.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/app.js"></script>
</body>
</html>